## Introduction to scikit learn (sklearn)

what we are going to cover:

0. an end to end scikit learn workflow
1. getting the data ready
2. choosing the right estimator/algorithm for our problem
3. fit the model/algorithm and use it to make predictions on our data
4. evaluating a model
5. improve a model
6. save and load a trainde model
7. putting it all together!

### 0. an end to end scikit learn workflow

In [1]:
# 1. get the data ready
import numpy as np
import pandas as pd
heart_dis=pd.read_csv("data/011 heart-disease.csv")
heart_dis

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [2]:
# create x (features matrix)
x=heart_dis.drop("target" ,axis=1)

# create y (labels)
y=heart_dis["target"]

In [3]:
# 2. choose the right model and hyperparameters
from sklearn.ensemble import RandomForestClassifier
clf=RandomForestClassifier()

# we'll keep the default hyperparameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [4]:
# 3. fit the model to the training data
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [5]:
 clf.fit(x_train,y_train);

In [6]:
x_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
198,62,1,0,120,267,0,1,99,1,1.8,1,2,3
140,51,0,2,120,295,0,0,157,0,0.6,2,0,2
292,58,0,0,170,225,1,0,146,1,2.8,1,2,1
257,50,1,0,144,200,0,0,126,1,0.9,1,0,3
287,57,1,1,154,232,0,0,164,0,0.0,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,52,1,3,152,298,1,1,178,0,1.2,1,0,3
232,55,1,0,160,289,0,0,145,1,0.8,1,1,3
51,66,1,0,120,302,0,0,151,0,0.4,1,0,2
231,57,1,0,165,289,1,0,124,0,1.0,1,3,3
54,63,0,2,135,252,0,0,172,0,0.0,2,0,2

In [7]:
 # make a prediction
y_preds = clf.predict(x_test)

In [8]:
y_preds

array([0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1,
       1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1], dtype=int64)

In [9]:
# 4. evaluate the model on the training data and test data
clf.score(x_train,y_train)

1.0

In [10]:
clf.score(x_test,y_test)

0.8360655737704918

In [11]:
from sklearn.metrics import classification_report, confusion_matrix,accuracy_score

print(classification_report(y_test,y_preds))

              precision    recall  f1-score   support

           0       0.84      0.70      0.76        23
           1       0.83      0.92      0.88        38

    accuracy                           0.84        61
   macro avg       0.84      0.81      0.82        61
weighted avg       0.84      0.84      0.83        61

In [12]:
confusion_matrix(y_test,y_preds)

array([[16,  7],
       [ 3, 35]], dtype=int64)

In [13]:
accuracy_score(y_test,y_preds)

0.8360655737704918

In [18]:
# 5. improve the model
# try different amount of n_estimators
np.random.seed(42)
for i in range(10,100,10):
    print(f"trying model with {i} estimators ...")
    clf=RandomForestClassifier(n_estimators=i).fit(x_train,y_train)
    print(f"model accuracy on test set:{clf.score(x_test,y_test)*100:.2f}%")
    print("")

trying model with 10 estimators ...
model accuracy on test set:75.41%

trying model with 20 estimators ...
model accuracy on test set:83.61%

trying model with 30 estimators ...
model accuracy on test set:83.61%

trying model with 40 estimators ...
model accuracy on test set:83.61%

trying model with 50 estimators ...
model accuracy on test set:81.97%

trying model with 60 estimators ...
model accuracy on test set:81.97%

trying model with 70 estimators ...
model accuracy on test set:78.69%

trying model with 80 estimators ...
model accuracy on test set:83.61%

trying model with 90 estimators ...
model accuracy on test set:86.89%

In [19]:
#6. save a model and load it
import pickle
pickle.dump(clf,open("random_forest_model_1.pkl","wb"))

In [21]:
loaded_model=pickle.load(open("random_forest_model_1.pkl","rb"))
loaded_model.score(x_test,y_test)

0.8688524590163934